/* loginPage */

.login_page {
  height: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  padding-top: 128px;

}

.login_page .image_responsive {
  width: 18rem;
}

@media only screen and (min-width: 767px) {
  .login_page .image_responsive {
    width: 25rem;
  }
  .login_page {
    padding: 2rem 5rem 3rem 5rem;
    padding-top: 128px;
  }
}
@media only screen and (min-width: 1200px) {
  .login_page .image_responsive {
    width: 30rem;
  }
  .login_page {
    padding: 2rem 10rem 6rem 10rem;
    padding-top: 128px;
  }
}
/************/
/** Register Page *****/
.register_page {  
  padding: 1rem 1.5rem 1rem 1.5rem;
  padding-top: 128px;
  height: 100%;
}

.register_page .image_responsive {
  width: 18rem;
}
.register_page .react-tel-input .flag-dropdown.open{
z-index: 300;
}

@media only screen and (min-width: 767px) {
  .register_page .image_responsive {
    width: 25rem;
  }
  .register_page {
    padding: 2rem 5rem 3rem 5rem;
      padding-top: 128px;
  }
}
@media only screen and (min-width: 1200px) {
  .register_page .image_responsive {
    width: 40rem;

  }
  .register_page {
    padding: 2rem 10rem 6rem 10rem;
    padding-top: 128px;
  }
}


/****************/
/********* Reset Password *******/
